{% extends "layout.html" %}

{% block mainContent %}

  <p>
      About the MailKimps
    <div>
      <span id nickname="friendly shark"><img src ="http://static.mailchimp.com/www/images/freddie-opengraph.png&imgrefurl=http://mailchimp.com/pricing/&h=210&w=210&tbnid=6hvDvqamYWPvYM:&zoom=1&docid=SuYSBGecKd4XoM&ei=B4HRVLneK8fesATy3YC4Aw&tbm=isch&ved=0CDMQMygAMAA" id="{{nickname}}-headshot">Bridgette</span>
      <span id nickname="quaint lark"><img src ="https://drive.google.com/file/d/0B5ipZuQqmpqscHZxUzZsUWl3cnc/view?usp=sharing" id="{{nickname}}-headshot">Chris</span>
      <span id nickname="pleasant sandpiper"><img src ="https://drive.google.com/file/d/0B_H5EpS79eomNzlEcXV5U2RLU2M/view?usp=sharing" id="{{nickname}}-headshot">Cliff</span>
      <span id nickname="silly gorilla"><img src ="https://drive.google.com/file/d/0B_H5EpS79eomUlROejU2UmFQbWs/view?usp=sharing" id="{{nickname}}-headshot">Ilan</span>
  </div>
  </p>
  
  
{% endblock %}
