{% extends "layout.html" %}

{% block mainContent %}

  <p>
      About the MailKimps
    <div>
      <span id nickname="friendly shark"><img src="http://static.mailchimp.com/www/images/freddie-opengraph.png&imgrefurl=http://mailchimp.com/pricing/&h=210&w=210&tbnid=6hvDvqamYWPvYM:&zoom=1&docid=SuYSBGecKd4XoM&ei=B4HRVLneK8fesATy3YC4Aw&tbm=isch&ved=0CDMQMygAMAA" id="{{nickname}}-headshot">Bridgette</span>
      <span id nickname="quaint lark"><img src="https://drive.google.com/file/d/0B5ipZuQqmpqscHZxUzZsUWl3cnc/view?usp=sharing" id="{{nickname}}-headshot">Chris</span>
      <span id nickname="pleasant sandpiper"><img src="https://drive.google.com/file/d/0B_H5EpS79eomNzlEcXV5U2RLU2M/view?usp=sharing" id="{{nickname}}-headshot">Cliff</span>
      <span id nickname="silly gorilla"><img src="https://lh4.googleusercontent.com/5jIf6uwNvcq3s6yU7jHiYYLjjI59S-h0NCMCMn6i3XgaEFvRTUXTf7iafwtIKjY3BxAyVpbJDN8=w1342-h523" id="{{nickname}}-headshot">Ilan</span>
  </div>
  </p>
  
  
=======
<p></p>
      About the MailKimps

    <div>
        <ul>
            <p></p>
            <li>
      <span id="friendly shark-name"><img src ="https://lh4.googleusercontent.com/WGqIZw6juxGePLX-A5lPJ0o02hKiPo_s3morIQOs-sTm2idT-1kR5WOUztrbCmNOACcWWQ=s190" id="friendly-shark-headshot" height="100" width="100">Bridgette</span>
</li>
<p></p>
<li>
      <span id="quaint lark-name"><img src ="https://lh5.googleusercontent.com/hJWZ0oI0e9Q5adjy776r_0HpfHfVLNUbqTdcg5cu31aJvtVcA8qtDZbkAdPb-No4yE-YvQ=w1342-h543" id="quaint-lark-headshot" height="100" width="100">Chris</span>
</li>
<p></p>
<li>
      <span id="pleasant sandpiper-name"><img src ="https://lh4.googleusercontent.com/cu8dTlJYhfYwn0bfA-PabJyqVEtfToxjt5-uDKxFbDkbZXhuBk0jzw77i707Ek63W5WXnw=w1342-h543" id="pleasant-sandpiper-headshot" height="100" width="100">Cliff</span>
</li>
<p></p>
<li>
      <span id="silly gorilla-name"><img src ="https://lh5.googleusercontent.com/ohWCVN4LCA4l8gV5sQqrKxgCbERHNhjWz-aoh5kILj0wgVutGYzmf72LXLquONXuDaiZgQ=w1342-h543" id="silly-gorilla-headshot" height="100" width="100">Ilan</span>
</li>
</ul>
  </div>

  </p>
{% endblock %}
