{% extends "layout.html" %}
<head>
    <style>
         header {
      text-align: center;
    }
    </style>

</head>
{% block mainContent %}
<body>
        <ul>
            <p></p>
            <li>
      Bridgette (<a href="mailto:bridgette.farrer@yale.edu">bridgette.farrer@yale.edu</a>)
</li>
<li>
      Chris (<a href="mailto:christopher.fleming@yale.edu">christopher.fleming@yale.edu</a>)
</li>
<li>
      Cliff (<a href="mailto:clifford.emmanuel@yale.edu">clifford.emmanuel@yale.edu</a>)
</li>
<li>
      Ilan (<a href="mailto:ilan.mann@yale.edu">ilan.mann@yale.edu</a>)
</li>
</ul>

<header>
    <h3>MailKimp</h3>
    <h3>Project Status Report</h3>
    <h3>February 18, 2015</h3>
</header>
<div></div>    
<article>
    <h4>Burndown Chart</h4>
    <img src="http://s28.postimg.org/vd2hgh74d/Team_burndown.png">
</article>
<article>
    <h4>Sprint 3 Completed Stories</h4>
    <p>1. New Events</p>
        <ul>
            <li>Redirect user to event detail page if the submitted form is valid</li>
        </ul>
            <p>2. RSVP</p>
        <ul>
            <li>Create error message to be displayed when users submit email addresses ending in anything other than "@yale.edu"</li>
            <li>Display event detail page again when users submit a valid email address</li>
        </ul>
        <p>3. Project Changes</p>
            <ul>
            <li>Create link with class=“donation” on event detail pages</li>
            <li>Install Google Analytics on site to track user types and behavior</li>
            <li>Run A/B testing with RSVP link on homepage to determine if inclusion affects click-through rate</li>
            <li>Run A/B testing on “donate” v. “support” display language on donation link to determine which leads to greater conversion</li>
        </ul>
        <p>4. CSS</p>
            <ul>
            <li>Design wireframes for site design of each page</li>
            <li>Incorporate wireframed changes into site design</li>
        </ul>
    </article>
    <div></div>
    <article>
        <h4>What we accomplished since last report</h4>
        <p>We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. We did a lot of really cool stuff. </p>
        
    </article>
    <article>
        <h3>Current backlog</h3>
        <h4>None.  Smoked it.</h4>
        <div></div>
             
    </article>
</body>
{% endblock %}
