body {
  padding: 50px;
  font: 16px "Segoe UI", Helvetica, Arial, sans-serif;
  color: white;
  font-weight: bold;
  background: #68E0F9;
}

header {
  font: 50px "Segoe UI", Helvetica, Arial, sans-serif;
  color: white;
  font-weight: bold;
  background: #68E0F9; 
}

a {
  color: #00B7FF;
}

.form-errors {
	color: red;
}